<!-- ngModel is syntax to output value dynamically -->
<!-- <input type="text" [(ngModel)]="nama" />
<h2>{{ nama }}</h2> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Test Component</h1>
      <hr />
      <h2>1 coba</h2>
      <!-- hasil dari ./coba/coba.component.ts yang ngambil dari coba.component.html -->
      <app-coba></app-coba>
      <hr />
      <h2>2 coba di dalam 1 cobacoba</h2>
      <app-cobacoba></app-cobacoba>
      <!-- Jika attribute html dan [] di @Component selector -->
      <!-- <div app-cobacoba></div> -->
    </div>
  </div>
</div>
